addict==2.4.0
aiohttp==3.9.3
aiosignal==1.3.1
albumentations==1.4.3
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
av==11.0.0
babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.2
black==21.4b2
bleach==6.1.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
click==8.1.7
cloudpickle==3.0.0
comm==0.2.0
debugpy==1.8.0
decorator==4.4.2
decord==0.6.0
deepspeed==0.13.2
defusedxml==0.7.1
docstring-parser==0.16
einops==0.7.0
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.0
filterpy==1.4.5
fqdn==1.5.1
freia==0.2
frozenlist==1.4.1
ftfy==6.1.3
# fvcore==0.1.5.post20221221
geomloss==0.2.6
geoopt==0.5.0
hjson==3.1.0
huggingface-hub==0.20.2
hydra-core==1.3.2
idna==3.4
imageio-ffmpeg==0.4.9
imgaug==0.4.0
importlib-metadata==6.8.0
importlib-resources==6.4.0
iopath==0.1.9
ipdb==0.13.13
ipykernel==6.27.1
ipython==8.12.0
ipywidgets==8.1.1
isoduration==20.11.0
jedi==0.19.1
joblib==1.3.2
json5==0.9.14
jsonargparse==4.27.1
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter==1.0.0
jupyter-client==8.6.0
jupyter-console==6.6.3
jupyter-core==5.5.1
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter-server==2.12.1
jupyter-server-terminals==0.5.0
jupyterlab==4.0.9
jupyterlab-pygments==0.3.0
jupyterlab-server==2.25.2
jupyterlab-widgets==3.0.9
kornia==0.6.9
lightning-utilities==0.11.2
llvmlite==0.42.0
matplotlib-inline==0.1.6
mistune==3.0.2
mmcv==1.3.1
moviepy==1.0.3
multidict==6.0.5
mypy-extensions==1.0.0
natsort==8.4.0
nbclient==0.9.0
nbconvert==7.13.1
nbformat==5.9.2
nest-asyncio==1.5.8
ninja==1.11.1.1
notebook==7.0.6
notebook-shim==0.2.3
numba==0.59.1
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python-headless==4.9.0.80
overrides==7.4.0
pandas==1.5.3
pandocfilters==1.5.0
parameterized==0.9.0
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.1.0
pip==24.0
platformdirs==3.11.0
portalocker==2.8.2
proglog==0.1.10
prometheus-client==0.19.0
prompt-toolkit==3.0.41
protobuf==4.23.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycocotools==2.0.7
pycparser==2.21
pydantic==2.6.1
pydantic-core==2.16.2
pynvml==11.5.0
pyparsing==3.1.1
python-json-logger==2.0.7
pytorch-lightning==1.9.5
pytorchvideo==0.1.5
pytz==2023.3.post1
pyyaml==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
qtpy==2.4.1
referencing==0.32.0
regex==2023.12.25
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich-argparse==1.4.0
rpds-py==0.15.2
safetensors==0.4.1
scikit-learn==1.3.2
send2trash==1.8.2
setuptools==68.2.2
shapely==2.0.3
simplejson==3.19.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
stack-data==0.6.3
tabulate==0.9.0
tensorboardx==2.6.2.2
termcolor==2.4.0
terminado==0.18.0
threadpoolctl==3.2.0
timm==0.4.12
tinycss2==1.2.1
tomli==2.0.1
# torch==1.11.0+cu113
torchmetrics==0.10.3
torchsummary==1.5.1
# torchvision==0.12.0+cu113
tornado==6.3.3
tqdm==4.65.0
traitlets==5.14.0
types-python-dateutil==2.8.19.14
typeshed-client==2.5.1
typing-extensions==4.11.0
ultralytics==8.1.2
uri-template==1.3.0
urllib3==2.0.7
visdom==0.2.4
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
wheel==0.41.2
widgetsnbextension==4.0.9
yacs==0.1.8
yapf==0.40.2
yarl==1.9.4
zipp==3.17.0
# git+https://github.com/facebookresearch/detectron2.git@v0.6
git+https://github.com/facebookresearch/fairscale
